body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}


header {
    padding: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.corpo {
    background-color: rgba(255, 255, 255, 0.453);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;

}




























footer {
    text-align: center;
    padding: 5px;
    font-size: 10px;
    background-color: #76767671;
    margin-top: 40px;
    border: rgba(0, 0, 0, 0.5) 2px solid;
}