
body {
    font-family: 'minecraft';
    margin: 0;
    padding: 0;
    background-color: rgb(255, 0, 255);
    background-image: url(/Veterinaria/images/fundo-carregamento.png);
    background-repeat: repeat;
    background-size: 50px 50px;

}