    @font-face {
      font-family: 'minecraft';
      src: url(/Veterinaria/fonts/MinecraftRegular-Bmg3.otf);
    }* 

{
    box-sizing: border-box;
    font-family: 'minecraft';
  }

  h1 {
  background-image: url(/Veterinaria/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  padding: 50px;
  height: 140px; /* necessário para dar espaço à imagem */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  vertical-align: middle;
}

  body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #f0f2f574;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/Veterinaria/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
   background-color:rgba(118, 118, 118, 0.564);
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid black;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  h2 {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    padding: 10px;
    background-image: url(/Veterinaria/images/butao2.png);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    min-width: 200px;
    margin-top: 10px;
  }

  .btn:hover {
    background-image: url(/Veterinaria/images/butao1.png);
    transform: scale(1.05);
  }

  .link {
    margin-top: 15px;
    font-size: 10px;
    text-decoration: underline;
    display: block;
    color: #ffffff;
  }

  .link:hover {
    color: #606060;
    transform: scale(1.05);
  }

  .error {
    color: red;
    margin-top: 10px;
  }